@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--var-unbounded), var(--var-mont), var(--var-rubik), sans-serif;
    -ms-overflow-style: none;/* IE and Edge */
    scrollbar-width: none;/* Firefox */
    
}

body::-webkit-scrollbar {
    display: none;
}

.syne {
    font-family: var(--var-syne), var(--var-unbounded);
}