@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
 scroll-behavior: smooth;
}

body {
  font-family: var(--font-unbounded), var(--font-mont), var(--font-rubik), sans-serif;
  -ms-overflow-style: none;/* IE and Edge */
  scrollbar-width: none;/* Firefox */
  scroll-behavior: smooth;
}

/* body::-webkit-scrollbar {
    display: none;
} */


